
.modal
{
    width: 528px;
    height: 581px;
    position: absolute;
/* usytuowanie okna modalnego niezależnie od powiększenia strony  */
top: 50%;
left: 50%;
    margin: auto;
    background-color: $white;
    border-radius: $border-radius-normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition-property: transform;
    transition-duration: 1s;
    transform: translateX(-50%) translateY(-50%) scale(1);
    cursor: not-allowed;

&__is-hidden
{   
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);  
}

&__backdrop
{
    display:flex;
    position:fixed;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index:1;
    cursor: not-allowed;
    transform: scale(1);
    transition-property: visibility, opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: $transition-timing-function-standard;
}

&__close
{
    width: 30px;
    height: 30px;
    border: 1px solid $extra-light-grey;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    top: 8px;
    left: 93%;
    cursor: pointer;

}

&__title
{
    font-weight: $font-weight-bold;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 5px;
    margin-bottom: 12px;
}

&__label
{
    height: 60px;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $light-grey;
    line-height: 1em;
    margin-bottom: 10px;
    
}

&__inputs
{
    line-height: 1.5em;
    margin-top: 12px;
    margin-left: 40px;
    
}

&__field
{
    width: 408px;
    height: 40px;
    left: 40px;
    margin-top:4px;
    transition-property:transform, background-color, fill;
    transition-duration: $transition-duration-standard;
    transition-timing-function: $transition-timing-function-standard;


    &:focus-within,
    &:active
        {
        fill: $blue;
        border-color: $blue;
        outline: none;
        }

}

&__icon
{
    position: relative;
    top: -68%;
    left: 5.5%;
    transform: translate(-50%);
}

&__send
{
    cursor: pointer;
    background-color: $blue;
    color: $white;
    font-weight: $font-weight-bold;
    font-size: $bigger-text-size;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 164px;
    border: none;
    border-radius: $border-radius-normal;
    padding: 10px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

&__comment
{
    width: 448px;
    height: 138px;
    
}

&__input
{
    height: 40px;
    width: 448px;
    line-height: 1em;
    text-indent: 44px;
    border: 1px solid  rgba(33,33,33,0.2);
    border-radius: $border-radius-normal;
    
    transition-property:fill, border-color;
    transition-duration: $transition-duration-standard;
    transition-timing-function: $transition-timing-function-standard;

    &:focus-within,
    &:active
        {
            border: 1px solid $blue;
            outline: none;
        }

}

&__comment-field
{
    height: 120px;
    width: 448px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid  rgba(33,33,33,0.2);
    border-radius: $border-radius-normal;
    transition-property:border;
    transition-duration: $transition-duration-standard;
    transition-timing-function: $transition-timing-function-standard;


    &:focus-visible,
    &:focus-within,
    &:active
        {
            border: 1px solid $blue;
            outline: none;
        }


}

&__comment-field::placeholder
{
    line-height: 1em;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

&__checkbox
{
    display: flex;
    justify-content: center;
    color: $light-grey;
    line-height: 1.7em;
    margin-top: 10px;
    padding-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

&__link
{
    text-decoration: underline;
    color: $blue;
}

&__statement-text
{
    cursor: not-allowed;
    line-height: 1.7em;
    letter-spacing: $letter-spacing-normal;
}
/* schowanie standardowego checkboxa */
&__checkbox input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

}


/* utworzenie mojego checkboxa */
.checkbox__field {
    position: relative;
    top: 5px;
    left: -9px;
    height: 15px;
    width: 16px;
    border-radius: 2px;
    background-color: $white;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em $light-grey;
    cursor: pointer;
}

/* najazd kursora dodaje szare tło  - można zmienić na  życzenie sprawdzającego... */

.modal__checkbox:hover input ~ .checkbox__field 
{
    background-color: $lines-color;
    box-shadow: 0 0 0 0.1em $blue;
}

/* jak checkbox jest zaznaczony dodaje niebieskie tło */

.modal__checkbox input:checked ~ .checkbox__field {
    background-color: $blue;
    box-shadow: 0 0 0 0.1em $blue;
    
}

/* utworzenie wskaźnika pola checbox (ukryty jeśli nie zaznaczone) */

.checkbox__field:after {
    content: "";
    position: absolute;
    display: none;
    background-image: url("../images/icons.svg#icon-checkmark");
}

/* pokazanie wskaźnika pola checkbox jeśli zaznaczone pole */

.modal__checkbox input:checked ~ .checkbox__field:after {
    display: block;
    
}

/* ostylowanie wskaźnika pola checbox-zaznaczone */

.modal__checkbox .checkbox__field:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
}