.offer
{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
        width: $width-full;
    min-width: fit-content;

&__list
{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
}

&__item
{
    position: relative;
    flex-basis: auto;
    padding: 10px;
}

&__text
{
    color: $white;
    position: relative;
    width:100%;
    height: 70px;
    font-weight: 700;
    text-align: center;
    transform: translate(0%, -100%);
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0px;
}


}