    $black: #000000;
    $dark-gray: #212121;
    $blue: #2196f3;
    $background-grey: #2f303a;
    $background-vanila: #ececec;
    $white: #ffffff;
    $vanila-white: #f5f4fa;
    $light-grey: #757575;
    $extra-light-grey:#AFB1B8;
    $lines-color: #e5e5e5;
    $vanila: #eeeeee;
    $antenna-grey:#f4f5fa;
    $normal-text-size: 14px;
    $bigger-text-size: 16px;
    $large-text-size: 18px;
    $font-weight-bold: 700;
    $font-wieght-normal: 400;
    $font-family-standard: "Roboto", sans-serif;
    $font-family-special: "raleway", sans-serif;
    $width-full: 1600px;
    $letter-spacing-normal: 0.03em;
    $transition-timing-function-standard: cubic-bezier(0.4, 0, 0.2, 1);
    $transition-duration-standard: 0.25s;
    $border-radius-normal: 4px;